<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    
</head>
<body>

    <div th:insert="~{base :: navheader}"></div>

    <div class="navbar">
        <div class="nav-links">
            <a href="/usuario/pedido">Mis pedidos</a>
            <a href="/usuario/pedido/filtrar?status=esperando">Esperando</a>
            <a href="/usuario/pedido/filtrar?status=aprobado">Aprobado</a>
            <a href="/usuario/pedido/filtrar?status=entregado">Entregado</a>
            
        </div>
        <div class="nav-options">
            <a href="" >Hacer ofertas</a>
            <a href="/pedido/formulario" >Nuevo pedido</a>
        </div>

    </div>

    
    <div class="contenedor">
        <div th:each="pedido: ${pedidos}">
            <div class="card">
                
                <div class="card-image" th:style="'background-image: url(' + ${pedido.urlImagen} + ')'"></div>
                <h2 class="card-title" th:text="${pedido.nombre}"></h2>
                
                <div class="card-content">
                    <div class="card-description">
                        <label for="descripcion">Descripción:</label>
                        <p th:text="${pedido.descripcion}"></p>
                    </div>
                    <p class="card-delivery">Fecha de entrega: <span th:text="${pedido.fechaEntrega}"></span></p>
                    <p class="card-price">Precio: <span th:text="${pedido.precio}"></span></p>
                    
                    <a class="card-url" th:href="${pedido.urlProducto}" target="_blank">Ver Producto</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>